@import url('https://fonts.googleapis.com/css2?&family=Nunito:ital@0;1&family=Quicksand:wght@700&display=swap');

:root {
    --cinnamoroll-blue: rgb(124, 206, 238);
    --cinnamoroll-pink: rgb(255, 208, 236);
}

body {
    background-color: var(--cinnamoroll-blue);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 98vh;
}

article {
    color: rgb(2, 70, 134);
    width: 90vw;
    max-width: 800px;
    margin-top: 25px;
    text-align: justify;
}

p {
    display: flex;
    background-color: rgb(159, 228, 255);
    border-radius: 15px;
    padding: 20px;
    font-size: 125%;
}

/* images */

main img {
    width: 60%;
    max-width: 800px;
    padding: 10px;
    /* border: 6px solid var(--cinnamoroll-pink); */
}

@media (max-width: 600px) {
    main img {
        width: 40vh;
    }
}

/* styling */

h1 {
    padding: 10px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 275%;
    font-weight: 700;
    color: var(--cinnamoroll-blue);
}